/* CSS DOCUMENT */

body {
  background-color: rgb(126, 166, 191);
  font-family: sans-serif;
}
h1 {
  color: rgb(255, 255, 255);
  font-size: 3em;
}
h2 {
  color: rgb(80, 161, 83);
}
h3 {
  color: rgb(208, 231, 245);
  background-color: rgb(157, 189, 168)
}
h4 {
  color: rgb(208, 231, 245);
}
