/*CSS DOCUMENT*/

<style>
  @import url("https://use.typekit.net/vxz8sgj.css");
</style>

img {
    width: 100%;
}

h1 {
  width: 6.5em;
  margin-left: 1em;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav ul {
  padding: 0;
}

nav ul li{
  display: inline;
  list-style-type: none;
  margin-right: 1em;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

nav ul li a {
  color: #6A954E;
  text-decoration: none;
}

nav ul li a:hover {
    color: #54733F;
}

/*Please don’t change this CSS stylesheet for the content hierarchy assginment */
