/*CSS DOCUMENT*/

@import url(https://use.typekit.net/plz7yee.css);

img {
    width: 40%;
}

h1 {
  margin: 1em 1em 2em 1.5em;
}

h2 {
  margin: 1em 2em 0.5em 2em;
}

h3 {
  margin: 1em 2em 2em 1.5em;
}

h4 {
  margin: 1em 2em 2em 2.2em;
}

h6 {
  margin: 1em 2em 2em 1.5em;
}

li {
  margin: 1em 2em 2em 1.5em;
}

p {
  margin: 1em 2em 2em 2.6em;
}

nav ul li{
  display: inline;
  list-style-type: none;
  margin-left: 1em;
  margin-right: 1em;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

nav ul li a {
  color: #6A954E;
  text-decoration: none;
}

nav ul li a:hover {
    color: #54733F;
}
